/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Common Design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 1348px;
}

/* Banner style start */
.banner-section {
  height: 677px;
  background: #2d25a0;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-info {
  margin-left: 116px;
  margin-bottom: 240px;
  margin-top: 207px;
}
.banner-heading {
  width: 485px;
  height: 230px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 27px;
}
.banner-info a {
  padding: 10px 24px;
  width: 168px;
  height: 44px;
  background: #e02c6d;
  color: white;
  text-decoration: none;
}

.banner-info a i {
  margin-left: 4px;
}

.banner-photo img {
  width: 556.01px;
  height: 438px;
  margin-right: 120.99px;
  margin-top: 153px;
  margin-bottom: 86px;
}
/* Player Card design */
.players-container {
  width: 1110px;
  margin-top: 50px;
  margin-left: 130px;
}
.players-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.player {
  width: 330px;
  height: 456px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 45px;
  box-shadow: 1px 1px 5px wheat;
}
.player-photo img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.player-name h2 {
  margin-bottom: 10px;
}
.player-name p {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.player-photo .player-name h2,
p {
  width: 300px;
  height: 154px;
}
/* Footer Design */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 158px;
}
.footer-image img {
  width: 483.87px;
  height: 110px;
  margin-bottom: 20px;
}

.icon {
  width: 170px;
  height: 32px;
  display: flex;
}
.social-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab {
  width: 32px;
  height: 32px;
  color: gray;
  background: #eceef3;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 700;
}
.footer p {
  text-align: center;
  margin-top: 20px;
}
