/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Common Design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 1348px;
}

/* Banner style start */
.banner-section {
  height: 677px;
  background: #2d25a0;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-info {
  margin-left: 116px;
  margin-bottom: 240px;
  margin-top: 207px;
}
.banner-heading {
  width: 485px;
  height: 230px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 27px;
}
.banner-info a {
  padding: 10px 24px;
  width: 168px;
  height: 44px;
  background: #e02c6d;
  color: white;
  text-decoration: none;
}

.banner-info a i {
  margin-left: 4px;
}

.banner-photo img {
  width: 556.01px;
  height: 438px;
  margin-right: 120.99px;
  margin-top: 153px;
  margin-bottom: 86px;
}
/* Player Card design */
.players-container {
  width: 1110px;
  margin-top: 50px;
  margin-left: 130px;
}
.players-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.player {
  width: 330px;
  height: 456px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 45px;
  box-shadow: 1px 1px 5px rgba(236, 233, 228, 0.897);
}
.player-photo img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.player-name h2 {
  margin-bottom: 10px;
}
.player-name p {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.player-photo .player-name h2,
p {
  width: 300px;
  height: 154px;
}
/* Footer Design */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 158px;
}
.footer-image img {
  width: 483.87px;
  height: 110px;
  margin-bottom: 20px;
}

.icon {
  width: 170px;
  height: 32px;
  display: flex;
}
.social-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab {
  width: 32px;
  height: 32px;
  color: gray;
  background: #eceef3;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 700;
}
.footer p {
  text-align: center;
  margin-top: 20px;
}

/* Responsibe for mobile */
/* Banner Part */
/* for Mobile divices */
@media only screen and (max-width: 360px) {
  main {
    width: 360px;
  }
  .banner-section {
    width: 100%;
    height: 695px;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-heading {
    width: 278px;
    height: 138px;
    font-size: 36px;
    font-weight: 700;
    margin-left: -100px;
    margin-top: -120px;
    margin-bottom: 30px;
    line-height: 50px;
  }
  .banner-info {
    margin-bottom: 273px;
    margin-top: 225px;
  }
  .banner-info a {
    width: 168px;
    height: 44px;
    margin-left: -99px;
  }
  .banner-photo img {
    width: 329px;
    height: 259.17px;
    margin-left: 15px;
    margin-top: -215px;
  }
  /* Players part */
  .players-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .player {
    margin-left: -117px;
    margin-top: -14px;
  }
  /* Footer part */
  .footer {
    margin-top: 50px;
  }
  .footer-image img {
    width: 327px;
    margin-left: -15px;
  }
}
/* ipads and Tablets  */
@media only screen and (max-width: 768px) {
  main {
    width: 768px;
  }
  .players-container {
    width: 768px;
    margin-left: 143px;
  }
  .banner-section {
    width: 100%;
    height: 450px;
  }
  .banner {
    display: flex;
  }
  .banner-heading {
    width: 278px;
    height: 138px;
    font-size: 36px;
    font-weight: 700;
    margin-left: -100px;
    margin-top: -120px;
    margin-bottom: 30px;
    line-height: 50px;
  }
  .banner-info {
    margin-bottom: 273px;
    margin-top: 225px;
  }
  .banner-info a {
    width: 168px;
    height: 44px;
    margin-left: -96px;
  }
  .banner-photo img {
    width: 360px;
    height: 322.17px;
    margin-left: 79px;
    margin-top: 70px;
  }
  /* Players part */
  .players-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .player {
    margin-left: -117px;
    margin-top: -14px;
  }
  /* Footer part */
  .footer {
    margin-top: 50px;
  }
  .footer-image img {
    width: 327px;
    margin-left: -15px;
  }
}
